[submodule "insert-translated-name"]
    path = extensions/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "extensions/company-english-helper"]
	path = extensions/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "extensions/grep-dired"]
	path = extensions/grep-dired
	url = https://github.com/manateelazycat/grep-dired.git

