.DS_Store
auto-save-list/
transient/
config/.DS_Store
extensions/.DS.Store
snippets/
elpa/
ido.last
recentf
smex-items
org-clock-save.el
anaconda-mode/
eshell/
history
.emacs.desktop
.session
ditaa0_9.jar
plantuml.jar
custom.el
games/
projectile-bookmarks.eld
*.bak
